{% extends 'base.html.twig' %}

{% block body %}
	{{ form(research_form) }}
    <hr>
    {% for post in posts %}
        <div class="post">
            <img src="{{ post.images[0].getPath() }}" alt="">
            <h2>
                <a href="{{path('post_view', {idPost: post.id})}}">{{post.title}}</a>
            </h2>
            <h3>{{post.price}}€</h3>
            <small>{{post.user.username}}</small>
            <p>{{post.detail}}</p>
        </div>
        <hr>
    {% else %}
        <p>No results for this research</p>
    {% endfor %}
{% endblock %}
