<header>
	<div class="left">
		<a href="{{ path('index_index') }}"><img src="/public/img/logo.jpg" alt="logo"></a>
	</div>
	<div class="right">
		{% if is_granted('ROLE_USER') %}
			<a class="button" href="{{ path('research_index') }}">My research</a>
			<a class="button" href="{{ path('favorite_index') }}">Favorites</a>
			<a class="button" href="{{ path('') }}">Messages</a>
			<a class="button" href="{{ path('post_index') }}">Post</a>
			<a class="button" href="{{ path('profile_index') }}">Profile</a>
			<a class="button" href="{{ path('logout_index') }}">Logout</a>
		{% else %}
			<a class="button" href="{{ path('login_index') }}">Login</a>
            <a class="button" href="{{ path('register_index') }}">Register</a>
		{% endif %}
	</div>
</header>
