{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<h1>Post View</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ post.price }}€</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ post.publicationDate|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.detail }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ post.user.username|upper }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ post.user.address.city }} ( {{post.user.address.postcode}} )</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    {% for image in post.images %}
                        <img src="{{ asset('img/posts/'~image.filename) }}">
                    {% else %}
                        No images
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('favorite_toggle', {'idPost': post.id}) }}">
        {% if isFavorite %}
            Remove from favorites
        {% else %}
            Add to favorites
        {% endif %}
    </a>

{% endblock %}
